/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: #222222;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.container {
  /* width: 90%; */
  /* height: 600px; */
  max-width: 340px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #ffffff;
  margin: 60px auto 0;
  border-radius: 20px;
  padding: 40px 35px;
  text-align: center;
  display: flex;
  flex-direction: column;
}

.input-search-form {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 40px;
}

input {
  box-sizing: border-box;
  width: 270px;
  height: 50px;
  border: none;
  border-radius: 25px;
  padding: 10px 25px;
  font-family: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  outline: transparent;
  outline-offset: 4px;
  color: #555555;
  background-color: #ebfffc;
}

.btn-search {
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  padding: 18px;
  color: #ebfffc;
}

.marcup-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.weather {
  width: 140px;
  height: 140px;
  margin: -10px auto;
}

.temperature {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  font-weight: 500;
  font-size: 80px;
  line-height: 1;
}

h1 {
  font-weight: 500;
  font-size: 50px;
  line-height: 1;
}

.params-weather {
  display: flex;
  justify-content: space-between;
}

.params-weather-item {
  display: flex;
  flex-direction: row;
  gap: 14px;
}

.params-weather-item img {
  height: 35px;
}

.params-weather-value,
.feels-like {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.feels-like-value {
  font-weight: 400;
  font-size: 42px;
  line-height: 1;
}

.humidity,
.wind {
  font-size: 28px;
}
